# Python virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/
# Sensitive input files
app/input/

# Generated ETL logs
etl/rejection_log.csv

etl/giving_history_need_mapping.csv